
    body {
      margin: 0px;
      padding: 180px;
      background-image: url(https://img.freepik.com/foto-gratis/diseno-visualizacion-red-cibernetica-abstracta-3d_1048-17445.jpg?semt=ais_hybrid);
      background-size: cover;        
      background-position: center center; 
      background-repeat:repeat;
      height: 1px;
    }
